body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/cronometro1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  flex-grow: 1;
}

.reloj {
  border-radius: 30px;
  border: solid rgb(5, 5, 5);
}
